<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Balamurugan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
  <br>
  <div class="col-md-12" style="text-align: center;">
    <button class="btn btn-success"><a href="/" style="text-decoration: none;color: white;">Back</a></button><br><hr>
  </div>
 
  
   <div class="col-md-12" style="overflow-x:auto;">
    <h2 style="text-align: center;font: italic small-caps bold 20px/35px Georgia, serif;">கந்த சஷ்டி Bookings</h2>
    <br><hr>
   <table class="table table-striped">
       <thead>
         <tr>
           <th scope="col">தேதி</th>
           <th scope="col">பூஜை தாரர்</th>
           <th scope="col">கைபேசி எண்</th>
           <th scope="col">பதிவு</th>
         </tr>
       </thead>
       <tbody>
<%for(var i=0;i<sastibook.length;i++){%>
   <tr>
       <td style="font: italic 15px/30px Georgia, serif;"><%=sastibook[i].date%></td>
       <td style="font: italic 15px/30px Georgia, serif;"><%=sastibook[i].detail%></td>
       <td style="font: italic 15px/30px Georgia, serif;"><%=sastibook[i].phoneNumber%></td>
       <form method="post" action="/sastibookdelete">
        <td><button type="submit" class="btn btn-danger" name="deleteid" value="<%=sastibook[i]._id%>">Delete</button></td>
      </form>
   </tr>

<%}%>
         

       </tbody>
     </table>
  </div>
<hr>

<div class="col-md-12" style="overflow-x:auto;">
  <h2 style="text-align: center;font: italic small-caps bold 20px/35px Georgia, serif;">தினசரி பூஜை Bookings</h2>
  <br><hr>
 <table class="table table-striped">
     <thead>
       <tr>
         <th scope="col">தேதி</th>
         <th scope="col">பூஜை தாரர்</th>
         <th scope="col">கைபேசி எண்</th>
         <th scope="col">பதிவு</th>
       </tr>
     </thead>
     <tbody>
<%for(var i=0;i<booking.length;i++){%>
 <tr>
     <td style="font: italic 15px/30px Georgia, serif;"><%=booking[i].date%></td>
     <td style="font: italic 15px/30px Georgia, serif;"><%=booking[i].detail%></td>
     <td style="font: italic 15px/30px Georgia, serif;"><%=booking[i].phoneNumber%></td>
     <form method="post" action="/bookingdelete">
       <td><button type="submit" class="btn btn-danger" name="deleteid" value="<%=booking[i]._id%>">Delete</button></td>
     </form>
 </tr>

<%}%>
       

     </tbody>
   </table>

</div>


   <div class="col-md-8" style="overflow-x:auto;">
   <h2 style="text-align: center;font: italic small-caps bold 20px/35px Georgia, serif;">தினசரி பூஜை</h2><br><hr>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">தேதி</th>
            <th scope="col">பூஜை தாரர்</th>
            <th scope="col">பதிவு</th>
          </tr>
        </thead>
        <tbody>
<%for(var i=0;i<detail.length;i++){%>
    <tr>
        <td style="font: italic 15px/30px Georgia, serif;"><%=detail[i].date%></td>
        <td style="font: italic 15px/30px Georgia, serif;"><%=detail[i].detail%></td>
        <form method="post" action="/adminupdate">
          <td><button type="submit" class="btn btn-success" name="updatedate" value="<%=detail[i].date%>">Update</button></td>
        </form>
    
    </tr>

<%}%>
          

        </tbody>
      </table>
    </div>

    
   <div class="col-md-8" style="overflow-x:auto;">
    <h2 style="text-align: center;font: italic small-caps bold 20px/35px Georgia, serif;">கந்த சஷ்டி பூஜை</h2><br><hr>
     <table class="table table-striped">
         <thead>
           <tr>
             <th scope="col">தேதி</th>
             <th scope="col">பூஜை தாரர்</th>
             <th scope="col">பதிவு</th>
           </tr>
         </thead>
         <tbody>
 <%for(var i=0;i<sasti.length;i++){%>
     <tr>
         <td style="font: italic 15px/30px Georgia, serif;"><%=sasti[i].date%></td>
         <td style="font: italic 15px/30px Georgia, serif;"><%=sasti[i].detail%></td>
         <form method="post" action="/sastiupdate">
           <td><button type="submit" class="btn btn-success" name="updatedate" value="<%=sasti[i].date%>">Update</button></td>
         </form>
     
     </tr>
 
 <%}%>
           
 
         </tbody>
       </table>
     </div>
</body>
</html>

